<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <!-- bean definitions here -->
    <bean id="localDataService" class="io.dtective.data.LocalInMemoryDataService"/>
    <bean id="globalDataService" class="io.dtective.data.GlobalInMemoryDataService"/>
    <bean id="configDataService" class="io.dtective.data.GlobalInMemoryDataService"/>

    <bean id="DataProvider" class="io.dtective.data.DataProvider">
        <constructor-arg type="io.dtective.data.interfaces.IDataProviderService" index="0"
                         ref="localDataService"/>
        <constructor-arg type="io.dtective.data.interfaces.IDataProviderService" index="1"
                         ref="globalDataService"/>
        <constructor-arg type="io.dtective.data.interfaces.IDataProviderService" index="2"
                         ref="configDataService"/>
    </bean>

</beans>